*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    overflow-y: scroll;
}

@mixin pad {
    @media(max-width:1100px) {
        @content;
    }
}

@mixin mobile {
    @media(max-width:833px) {
        @content;
    }
}

@include pad {}

@include mobile {}

// web nav

.nav-container {
    background-color: rgba(0, 0, 0, 0.8);
    height: 44px;
    z-index: 300;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;

    nav {
        width: 1000px;
        margin: 0 auto;
        padding: 0 8px;
        height: 100%;

        .web-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            @include mobile {
                flex-direction: column;
                justify-content: flex-start;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 0vh;
                background-color: #000;
                overflow: hidden;
                z-index: -1;
            }

            li a {
                color: #fff;
                font-size: 9px;
                opacity: 0.8;
                transition: opacity 400ms; //hover時的動畫速度
            }

            li a:hover {
                opacity: 1;
            }

            .link-logo {
                background-image: url(./icon拷貝/globalnav_apple_image__b5er5ngrzxqq_large.svg);
                display: block;
                background-position: center; //圖片位置
                height: 44px; //這個格子的長寬 不是圖片的長寬
                width: 15px;
                background-repeat: no-repeat;
            }

            .link-search {
                background-image: url(./icon拷貝/globalnav_search_image__cbllq1gkias2_large.svg);
                display: block;
                background-position: top;
                height: 44px;
                width: 15px;
                background-repeat: no-repeat;
            }

            .link-bag {
                background-image: url(./icon拷貝/globalnav_bag_image__yzte50i47ciu_large.svg);
                display: block;
                background-position: center;
                height: 44px;
                width: 15px;
                background-repeat: no-repeat;
            }
        }
    }
}

@include pad {
    .nav-container nav {
        width: 100%;
        padding: 0 32px;
    }
}

@include mobile() {
    .nav-container.active {
        .mobile-nav {
            .menu-icon-container {
                .menu-icon {
                    .line-1 {
                        top: 0;
                        transform: rotateZ(45deg);
                    }

                    .line-2 {
                        top: 0;
                        transform: rotateZ(-45deg);
                    }
                }
            }
            .link-bag{
                transform: rotateY(8px);
                opacity: 0;
            }
        }
    }

    .nav-container.active .web-nav {
        height: 100vh;

        li {
            width: 80%;
            padding: 0 32px;

        }

        li:first-child {
            //第一個li
            margin-top: 110px;
        }

        a {
            display: inline-block;
            padding: 16px 0px;
            border-bottom: 1px solid #616161;
            width: 100%;
            font-size: 14px;
        }

        .link-logo,
        .link-search,
        .link-bag {
            display: none;
        }



    }


    .mobile-nav {
        display: flex;
        padding: 5px 0;
        height: 100%;
        width: 100%;
        justify-content: space-between;

        .link-logo {
            background-image: url(./icon拷貝/globalnav_apple_image__b5er5ngrzxqq_large.svg);
            display: block;
            background-position: center;
            height: 44px;
            width: 16px;
            background-repeat: no-repeat;
        }

        .link-bag {
            background-image: url(./icon拷貝/globalnav_bag_image__yzte50i47ciu_large.svg);
            display: block;
            background-position: center;
            height: 44px;
            width: 15px;
            background-repeat: no-repeat;
        }

        .menu-icon-container {
            width: 20px;
            height: 44px;
            display: flex;
            align-items: center;
            cursor: pointer;

            .menu-icon {
                position: relative;
                width: 100%;

                .line-1,
                .line-2 {
                    position: absolute;
                    height: 1px;
                    width: 100%;
                    background: #fff;
                    z-index: 1;
                }

                .line-1 {
                    top: -4px;
                }

                .line-2 {
                    top: 4px;
                }
            }
        }

    }

    .nav-container.active .mobile-search-container {
        transform: rotateX(0deg);
    }



    .mobile-search-container {
        position: relative;
        top: 13px;
        z-index: 305;
        padding: 0 16px;
        display: flex;
        border-bottom: 1px solid #616161;
        align-items: center;
        transform: rotateX(90deg);

        .link-search {
            background-image: url(./icon拷貝/globalnav_search_image__cbllq1gkias2_large.svg);
            display: block;
            background-position: top;
            height: 44px;
            width: 15px;
            background-repeat: no-repeat;
            position: absolute;
            left: 28px;
            top: -2px;
            opacity: .5;
            background-size: 15px;
        }

        .quick-link {
            position: absolute;
            top: 80px;
            left: 0;
            right: 0;
            padding: 0 32px;
            opacity: 0;
            pointer-events: none;
            top: 10px;

            ul {
                width: 100%;

                li a {
                    padding: 16px 0;
                    display: inline-block;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 400;
                    border-bottom: 1px solid #616161;
                    width: 100%;
                }

                li {
                    height: 50px;
                }

                a:hover {
                    color: #2997ff;
                }
            }

            h2 {
                color: #86868b;
                font-size: 12px;
                font-weight: 400;

            }
        }

        input {
            padding: 12px 36px;
            margin-bottom: 15px;
            width: 100%;
            background-color: #1b1b1b;
            border: 0;
            border-radius: 8px;
            outline: none;
            color: #fff;
        }

        .cancel-btn {
            margin-bottom: 13px;
            color: #2997ff;
            font-weight: 400;
            cursor: pointer;
            width: 0px;
            overflow: hidden;
        }

        .search-bar {

            flex: 1;
        }

        .search-bar.active+.cancel-btn {
            padding: 0 16px;
            width: 74px;
        }

        .search-bar.active~.quick-link {
            top: 80px;
            opacity: 1;
            pointer-events: auto;
            transition-delay: 40ms;
        }

    }
}

/* nav move up*/
.nav-container{
    .move-up {
        margin-top: -90px;
    }
}

/* nav move down*/


.web-nav.move-down li:first-child {
    margin-top: 50px;
}

.web-nav.move-down li {
    opacity: 0;
    pointer-events: none;
}



.mobile-search-container {
    display: none;
}

// search-container

.search-container.hide {
    opacity: 0;
    pointer-events: none; //滑鼠穿牆

}

.search-container {
    width: 50%;
    margin: 0 auto;
    padding: 0 42px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;

    .link-search {
        position: absolute;
        left: 12px;
        opacity: 0.5;
        background-image: url(./icon拷貝/globalnav_search_image__cbllq1gkias2_large.svg);
        display: block;
        background-position: top;
        height: 44px;
        width: 15px;
        background-repeat: no-repeat;
    }

    from {
        width: 100%;
        margin: 0 auto;

    }

    input {
        width: 100%;
        height: 44px;
        border: 0;
        outline: none; //取消點擊框時會有的線
        background-color: transparent; //背景設置透明
        color: #fff;
        font-size: 16px;
        font-weight: 300;
    }

    .link-close {
        position: absolute;
        top: 13px;
        right: 12px;
        opacity: 0.5;
        cursor: pointer;
        transition: all 400ms;
        background-image: url(./icon拷貝/close.svg);
        display: block;
        background-position: top;
        height: 44px;
        width: 15px;
        background-repeat: no-repeat;
    }

    .link-close:hover {
        opacity: 0.7;
    }

    .quick-link {
        background-color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        padding: 16px 8px;
        border-radius: 0 0 16px 16px;

        h2 {
            text-transform: uppercase;
            font-size: 12px;
            color: #6e6e73;
            margin: 10px 0 0px 32px;
            font-weight: 300;
        }

        ul {
            margin-top: 12px;

            li a {
                display: inline-block;
                width: 100%;
                padding: 8px 50px;
                font-size: 14px;
                color: #1d1d1f;
                font-weight: 400;
            }

            li a:hover {
                background-color: #f5f5f5;
                color: #2997ff;
            }
        }
    }
}


// over layout
.over-mask.show {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.48);
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 100;

}




// web nav animation

.web-nav li {
    transition: all 400ms ease;
    //點擊搜尋後nav消失跟回縮的動畫跟速度
    //如果這個綁在下面的.hide nav回來時就會直接變出來 不會有動畫
}

.web-nav.hide li {
    opacity: 0;
    transform: scale(0.8); //nav消失時會縮小後在消失
    pointer-events: none; //滑鼠穿牆
}

// overMask animation
.over-mask {
    transition: all 400ms ease;
}


//nav menu item delay 
//括號裡放item數量 從1開始 .hide也會有item一個個消失的動畫
.web-nav li:nth-of-type(1),
.web-nav.hide li:nth-of-type(13) {
    transition-delay: 0ms;
}

.web-nav li:nth-of-type(2),
.web-nav.hide li:nth-of-type(12) {
    transition-delay: 30ms;
}

.web-nav li:nth-of-type(3),
.web-nav.hide li:nth-of-type(11) {
    transition-delay: 60ms;
}

.web-nav li:nth-of-type(4),
.web-nav.hide li:nth-of-type(10) {
    transition-delay: 90ms;
}

.web-nav li:nth-of-type(5),
.web-nav.hide li:nth-of-type(9) {
    transition-delay: 120ms;
}

.web-nav li:nth-of-type(6),
.web-nav.hide li:nth-of-type(8) {
    transition-delay: 150ms;
}

.web-nav li:nth-of-type(7),
.web-nav.hide li:nth-of-type(7) {
    transition-delay: 180ms;
}

.web-nav li:nth-of-type(8),
.web-nav.hide li:nth-of-type(6) {
    transition-delay: 210ms;
}

.web-nav li:nth-of-type(9),
.web-nav.hide li:nth-of-type(5) {
    transition-delay: 240ms;
}

.web-nav li:nth-of-type(10),
.web-nav.hide li:nth-of-type(4) {
    transition-delay: 270ms;
}

.web-nav li:nth-of-type(11),
.web-nav.hide li:nth-of-type(3) {
    transition-delay: 300ms;
}

.web-nav li:nth-of-type(12),
.web-nav.hide li:nth-of-type(2) {
    transition-delay: 330ms;
}

.web-nav li:nth-of-type(13),
.web-nav.hide li:nth-of-type(1) {
    transition-delay: 360ms;
}


//search animation
.search-container form,
.search-container .link-search {
    opacity: 1;
    transform: translateX(0);
    transition: all 400ms ease; //動畫時間
    transition-delay: 300ms; //動畫延遲時間
}

.search-container.hide form,
.search-container.hide .link-search {
    opacity: 0;
    transform: translateX(50px);
}


.search-container .link-search {
    opacity: 0.6;
}

.search-container.hide .link-close {
    opacity: 0;
}

.search-container .link-close {
    opacity: 0.5;
    transition: all 400ms ease;
    transition-delay: 400ms;
}

.search-container.hide .quick-link h2 {
    opacity: 0;
    transform: translateX(50px);
}

.search-container .quick-link h2 {
    opacity: 1;
    transform: translateX(0px);
    transition: all 400ms ease;
    transition-delay: 100ms;
}

.search-container.hide .quick-link ul li {
    opacity: 0;
    transform: translateX(60px);
}

.search-container .quick-link ul li {
    opacity: 1;
    transform: translateX(0);
    transition: all 400ms ease;
}

.search-container .quick-link ul li:nth-of-type(1) {
    transition-delay: 120ms;
}

.search-container .quick-link ul li:nth-of-type(2) {
    transition-delay: 140ms;
}

.search-container .quick-link ul li:nth-of-type(3) {
    transition-delay: 160ms;
}

.search-container .quick-link ul li:nth-of-type(4) {
    transition-delay: 180ms;
}

.search-container .quick-link ul li:nth-of-type(5) {
    transition-delay: 200ms;
}

input,div,span,a{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}