$color-white: #fff;
$color-white-gray: #f5f5f5;
$color-gray: #6e6e73;
$color-dark-gray: #1d1d1f;
$color-blue: #2997ff;


$size-9px: 0.5625em;
$size-12px: 0.75em;
$size-16px: 1em;


// transition
$all-ease: all 400ms ease;
